<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/base.css">
    </head>
    <body>
        <h1>A Better Buzzer</h1>
        <h3>Blazingly Fast -- Written in Rust</h3>
        <p>Under Construction :(</p>
        <form action="/admission" method="post">
            <label for="user">User: </label><br>
            <input type="text" name="user" id="user"><br>
            <label for="user">Game ID: </label><br>
            <input type="text" name="lobby" id="lobby"><br>
            <button type="submit" id="admit">Use Now!</button>
        </form>
        <a href="/gameleader">Start New Game</a>
    </body>
</html>